<p>
<div class="text-center mt-4">
  <%= link_to t('edit profile'), edit_user_path(@user), class: "btn btn-outline-info" %>
</div>
<div class="text-center mt-4">
  <%= link_to t('connect yt'), "#", class: "btn btn-outline-info" %>
</div>
<div class="text-center mt-4">
  <%= link_to t('delete profile'), user_path(current_user), class: "btn btn-outline-danger", method: :delete, data: { confirm: t('u sure') } %>
</div>
</p>