<p>
<div class="text-center mt-4">
  <%= link_to t('edit profile'), edit_user_path(@user), class: "btn btn-outline-info" %>
</div>
<% if @user.low_performance %>
  <div class="text-center mt-4">
    <%= link_to t('disablePm'), user_setPerformance_path(user_id: @user.id),method: :post, class: "btn btn-outline-info" %>
  </div>
<% else %>
  <div class="text-center mt-4">
    <%= link_to t('setPm'), user_setPerformance_path(user_id: @user.id),method: :post, class: "btn btn-outline-info" %>
  </div>
<% end %>
<div class="text-center mt-4">
  <%= link_to t('delete profile'), user_path(current_user), class: "btn btn-outline-danger", method: :delete, data: { confirm: t('u sure') } %>
</div>
</p>