<% if !logged_in? %>
  <div class="landing-center">
    <h2><%= t('hello') %></h2>
      <p>
        <%= t('t_now') %><%= l(Time.now, format: :long) %>
      </p>
  </div>

<% else %>
  <div id="indexPartial"></div>
<% end %>
