@import "~bootstrap/scss/bootstrap";
#page-content {
  background-color: lightgrey;
  min-height: 100vh;
  min-width: 100vh;
}
#sidebar {
  background-color: darkgrey;
  min-height: 100vh;
}

#litem {
  vertical-align: middle;
  border-bottom: 1px;
  border-bottom-color: black;
}
#sidebarList {
  height: 70%;
}
.unscrollable {
  overflow: hidden;
}
.playButton {
  width: 32px;
  height: 32px;
}

.list-group{
  max-height: 750px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.deleteButtonSongListItem {
  position: absolute;
  right: 10px;
}
.editButtonSongListItem {
  position: absolute;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.landing-center {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.controlButton {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
}
#playlistAdd{
  position: absolute;
  margin: 40px;
  bottom: 12%;
}
#pauseButtonToggle{
  display: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dim {
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
  z-index:1 !important;
  background-color:black;
  filter: alpha(opacity=75); /* internet explorer */
  -khtml-opacity: 0.75;      /* khtml, old safari */
  -moz-opacity: 0.75;      /* mozilla, netscape */
  opacity: 0.75;      /* fx, safari, opera */
}

.ytplayer {
  position: relative;
  left: 50%;
}

#sticky-footer {
  height: 10%;
}

#music-controls {
  position: absolute;
  top: 20%;
  left: 3%;
}

#current_song_name {
  margin-top: 1%;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  //margin: 20px 10px;
  height: 2px;
  left: 10%;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;                                                                                                                                    /*position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; min-width: 50%;min-height: 50%;filter: blur(15px);-webkit-filter: blur(50px);transform: scale(1.1); }.player-container {  height: 500px;dth: 400px;background: #e7e7e7;border-radius: 20px;box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);}*/
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

#soundButton {
  position: absolute;
  top: 20%;
  right: 5%;
}

#playModes {
  position: absolute;
  top: 20%;
  right: 2%;
}
.rsT {
  color: white;
  height: 15px;
  width: 15px;
}
.rsF {
  color: grey;
  height: 15px;
  width: 15px;
}