@import "~bootstrap/scss/bootstrap";
#page-content {
  background-color: lightgrey;
  min-height: 100vh;
  min-width: 100vh;
}
#sidebar {
  background-color: darkgrey;
  min-height: 100vh;
}

#litem {
  vertical-align: middle;
  border-bottom: 1px;
  border-bottom-color: black;
}
#sidebarList {
  height: 70%;
}
.playButton {
  width: 32px;
  height: 32px;
}

.deleteButtonSongListItem {
  position: absolute;
  right: 40px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}