@import "~bootstrap/scss/bootstrap";
#page-content {
  background-color: lightgrey;
  min-height: 100vh;
  min-width: 100vh;
}
#sidebar {
  background-color: darkgrey;
  min-height: 100vh;
}

#litem {
  vertical-align: middle;
  border-bottom: 1px;
  border-bottom-color: black;
}
#sidebarList {
  height: 70%;
}
.playButton {
  width: 32px;
  height: 32px;
}

.list-group{
  max-height: 750px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.deleteButtonSongListItem {
  position: absolute;
  right: 40px;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.landing-center {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.player {
  position: relative;
  right: 50px;
}