<div class="row mt-1 mb-1 ml-1 mr-1">
  <div class="col-11">
  Line with explanation of playlist content and button to add songs:
</div>
  <div class="col-1">
  <%= render 'songModal' %>
</div>
</div>
<div>
  <div id="playlistListView"></div>
</div>

