<div id="sticky-footer" class="py-4 bg-dark text-white fixed-bottom">
  <div class="row">
    <div class="col-10 text-center">
     <%= render :template => "playground/index" %>
    </div>

  </div>


</div>