<div id="sticky-footer" class="py-4 bg-dark text-white fixed-bottom">
  <div class="row">
    <div class="col-10 text-center">

      <div id="player">
        <%#= render :template => "playground/index" %>
        <%= render 'layouts/youtubePlayer' %>
      </div>
    </div>

  </div>


</div>