<div id="sticky-footer" class="py-4 bg-dark text-white fixed-bottom">
  <div class="row">
    <div class="col-10 text-center">
      <small>Here will be the player maybe</small>
    </div>
    <div class="col-2">
      <p>Player</p>
    </div>
  </div>


</div>