
  <div class="ml-4" id="sidebarList">

    <div id="ml-0"> <%= t('Pl') %> </div>

    <%current_user.playlists.each do |pl| %>

      <div id="litem" class="row mt-1 border-bottom">
        <%= render partial: "layouts/playlistListItem", locals: { playlist: pl} %>
      </div>
    <% end %>
  </div>
<div id="playlistAdd">
  <%= render 'layouts/playlistModal' %>
</div>
