<div id="sidebar" class="c-sidebar-nav c-sidebar-dark c-sidebar-show">
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Nav Title</li>
    <li class="c-sidebar-nav-item">
      <a class="c-sidebar-nav-link" href="#">
        <i class="c-sidebar-nav-icon cil-speedometer"></i> Nav item
      </a>
    </li>
  </ul>

</div>